form {
  width: 95vw;
  margin-bottom: 50px;
}

form > h2 {
  font-size: 0.9rem;
  text-align: center;
  font-weight: 400;
}

form > label {
  display: block;
  font-size: 0.85rem;
  margin-bottom: 5px;
}

form > input,
form > textarea {
  width: 100%;
  padding: 10px 0 10px 10px;
  border-radius: 5px;
  border: solid 1px var(--color-water-10);
  margin-bottom: 25px;
}

textarea {
  resize: none;
}

.create__button,
.save__edit__button {
  display: block;
  background-color: var(--color-nemo);
  color: var(--color-foam);
  border: none;
  border-radius: 3px;
  margin: 0 auto;
  font-size: 1rem;
}
.create__button {
  font-weight: 600;
  padding: 10px 25px;
}

.save__edit__button {
  padding: 5px 15px;
}
