.footer__section {
  background-color: var(--color-granite);
  color: var(--color-water-10);
  width: 100vw;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
}

.footer__section > a {
  text-decoration: none;
  color: var(--color-water-10);
}
